/* Css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
}

/* Global styles */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* width */
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: lightgray;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: gray;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #fafafa;
  --webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.form-group {
  display: block;
  margin-bottom: 4px;
}

.form-group-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}

.form-group-inline.register-form-group {
  width: -webkit-calc(50% - 2px);
  width: -moz-calc(50% - 2px);
  width: calc(50% - 2px);
}

.form-group label {
  display: block;
  font-size: 13px;
  margin-bottom: 3px;
}

.form-input {
  background-color: #f5f5f5;
  padding: 8px 6px;
  border: 1px solid #f5f5f5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.form-input.input-error {
  background-color: #f3c1c1;
}

.form-input.input-disabled {
  background-color: white;
  border: 1px solid #f5f5f5;
}

.help-block {
  display: block;
  color: red;
  font-style: italic;
  font-size: 11px;
  min-height: 11px;
  margin: 4px 0;
}

.btn {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  background-color: lightgray;
  padding: 12px 20px;
  margin: 10px auto;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}

.btn.btn-success {
  background-color: #98d298;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.btn.btn-success:hover {
  background-color: #6bc967;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.btn.btn-default {
  background-color: lightgray;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.btn.btn-default:hover {
  background-color: gray;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.btn.btn-danger {
  background-color: #e89d9d;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.btn.btn-danger:hover {
  background-color: #ef7b7b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

/* Table styles */

table {
  width: 100%;
  margin-top: 5px;
  border: none;
  border-collapse: collapse;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
th {
  width: 25%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fafafa;
  padding: 5px;
}
.first-player-rank,
.second-player-rank,
.third-player-rank {
  position: relative;
}
.first-player-picto,
.second-player-picto,
.third-player-picto {
  position: absolute;
  left: -webkit-calc(50% - 25px);
  left: -moz-calc(50% - 25px);
  left: calc(50% - 25px);
}
.first-player-picto {
  color: #ffd700;
}
.second-player-picto {
  color: #c0c0c0;
}
.third-player-picto {
  color: #cd7f32;
}
td {
  padding: 5px;
  text-align: center;
}
tr {
  background-color: white;
}

/* Nav styles */

.nav-container {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.nav-container > ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}

.nav-container > ul > li > a {
  height: 100%;
  padding: 15px;
  color: black;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-container span.game-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  pointer-events: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-container span.game-title span:first-of-type {
  display: none;
  margin-right: 0;
}

.nav-container span.game-title span:last-of-type {
  display: none;
}

@media (min-width: 600px) {
  .nav-container span.game-title {
    font-size: 24px;
  }

  .nav-container span.game-title span:first-of-type {
    display: initial;
    margin-right: 7px;
  }

  .nav-container span.game-title span:last-of-type {
    display: initial;
  }
}

.nav-container a.go-back-link {
  position: relative;
  margin-left: 15px;
}

.nav-container a.go-back-link:before {
  position: absolute;
  top: -webkit-calc(50% - 4px);
  top: -moz-calc(50% - 4px);
  top: calc(50% - 4px);
  left: 0px;
  content: '';
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-container li.has-submenu {
  position: relative;
}

.nav-container li.has-submenu:hover .sub-menu {
  display: block;
}

.sub-menu {
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 50;
}

.sub-menu a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sub-menu a:hover {
  background-color: #f5f5f5;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

/* Login page */

.login-page {
  position: relative;
}

.login-page .website-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.login-page .login-title {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.login-page .content-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}

.login-page .content-wrapper form {
  background-color: white;
  padding: 20px 40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.login-page .form-group input,
.login-page .form-group select {
  width: 100%;
  height: 30px;
}

/* Register page */

.register-page {
  position: relative;
}

.register-page .website-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.register-page .register-title {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.register-page .content-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}

.register-page .content-wrapper form {
  background-color: white;
  padding: 20px 40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.register-page .form-group input,
.register-page .form-group select {
  width: 100%;
  height: 30px;
}

.frmSearch {
  position: relative;
}

.frmSearch .help-block {
  min-height: 11px;
}

.frmSearch #suggestion-box {
  position: absolute;
  top: -webkit-calc(100% - 14px);
  top: -moz-calc(100% - 14px);
  top: calc(100% - 14px);
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.frmSearch #suggestion-box ul li {
  padding: 10px 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.frmSearch #suggestion-box ul li:hover {
  background-color: white;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

/* Homepage */
.home-page {
  position: relative;
}

.home-page .index-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.home-page .msg-accueil {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.home-page {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  padding-top: 60px;
}

.home-page .rules-title,
.home-page .leaderboard-title {
  display: block;
  font-size: 22px;
  text-transform: uppercase;
}

.home-page .rules-title {
  text-align: center;
}

.home-page .leaderboard-title {
  text-align: left;
  margin-bottom: 10px;
}

.home-page .home-wrapper {
  max-width: 95%;
  max-height: 80vh;
  background-color: white;
  padding: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  overflow: auto;
}

.home-page .msg-intro {
  font-size: 16px;
}

.leaderboard-container {
  background-color: #f5f5f5;
  padding: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.home-infos-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
}

.home-page button.btn {
  margin: 25px auto;
}

.home-infos-container > p {
  font-size: 14px;
  padding: 10px;
  margin-right: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .home-infos-container > p {
    font-size: 18px;
    margin-right: 0;
  }
}

.home-infos-container > p > span {
  font-weight: bold;
}

.rules-container {
  width: 600px;
  max-width: 100%;
  text-align: justify;
  margin-bottom: 25px;
}

.rules-container > p {
  font-size: 13px;
  line-height: 1.3;
  margin: 3px 0;
}

.rules-container > p > b {
  font-weight: bold;
}

/* Scores page */

.scores-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  justify-content: center;
  padding-top: 60px;
}

.scores-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.scores-wrapper {
  width: 500px;
  max-width: 90%;
  min-height: 40vh;
  max-height: 80vh;
  background-color: white;
  padding: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  overflow: auto;
}

/* Game page */

.game-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
  font-size: 16px;
}

.game-page .tps {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.game-page .msg-tps {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.game-page .game-wrapper {
  min-width: 640px;
  max-width: 95%;
  text-align: center;
  background-color: white;
  padding: 20px;
  padding-bottom: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.count-text-container,
.score-text-container {
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media (min-width: 768px) {
  .count-text-container,
  .score-text-container {
    font-size: 24px;
  }
}

.count-text-container span,
.score-text-container span {
  font-weight: bold;
}

.top-game-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.game-page .form-group input {
  font-size: 16px;
  text-align: center;
}

.game-verb-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .game-verb-container {
    flex-direction: row;
  }
}

.game-page .buttons-wrapper,
.end-page .buttons-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.game-page .buttons-wrapper .btn,
.end-page .buttons-wrapper .btn {
  margin: 10px;
}

.game-verb-container > div {
  margin: 15px 10px;
}

.loaded-verb-trad-container {
  font-weight: bold;
  text-transform: capitalize;
}

/* Countdown */

.radialtimer {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 70px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .radialtimer {
    margin-top: 90px;
  }
}

.radialtimer .n {
  position: absolute;
  width: 200px;
  height: 200px;
  background: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
}

.radialtimer .slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
}

.radialtimer .slice.nc {
  clip: rect(auto, auto, auto, auto);
}

.radialtimer .slice .q {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 16px white solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  clip: rect(0px, 100px, 100px, 0px);
  z-index: 2;
}

.radialtimer .slice .pie {
  border: 15px #6bc967 solid;
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 100px, 200px, 0px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  -moz-transition: all 1s linear;
  transition: all 1s linear;
  z-index: 1;
}

/* End page */

.end-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 16px;
  padding-top: 60px;
}

#achievment-wrapper {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 150px;
  color: lightgray;
  background-color: #f5f5f5;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 35px 0;
  overflow: hidden;
}

.end-page .content-wrapper {
  max-width: 95%;
  text-align: center;
  background-color: white;
  padding: 20px;
  padding-bottom: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.end-page .end-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.end-text-wrapper {
  margin: 15px 0;
}

.end-text-wrapper p {
  margin: 8px 0;
}

.end-page .score-count {
  font-weight: bold;
}
